body {
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#f3f3f3;
    font-family: 'Poppins', sans-serif;
}

.transform {
    position: relative;
    width: 70%;
}

h1 {
    width: 100%;
    margin:0;
    padding:0;
    position: absolute;
    transform: translate( 70%, -50%);
    top: 50%;
    right: 50%;
    text-transform:uppercase;
    font-size: 250px;
    text-shadow: -2px -2px 3px rgb(148, 147, 147);
    color: white;
}

.black {
    color: black;
    
}

.white {
    clip-path: polygon(0% 0, 0% 0%, 140% 0%, 0 70%);
    /* clip-path: polygon(0% 0, 100% 0%, 100% 0%, 0 100%); */
    overflow: hidden;
    background: #f3f3f3;
    transition: 700ms;
}

.white:hover {
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}

.black:hover {
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}